/*---------RESETS---------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    color: #222222;
    background: #DCD9D2;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
    position:relative
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 1.5rem;
}
.header {
    background: #f5f5f5;
    position: relative;
    width: 100%;
    box-shadow: inset;
}

.header__wrapper {
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.branding__title{
    font-weight: bold;
    font-size: 2rem;
}
.branding__image{
    max-width: 15rem;
}
.branding__options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.branding__options ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.branding__options ul li img{
    max-width: 7rem;
}
.branding__options ul li p{
    font-weight: bold;
}
.branding__options ul li i{
    color:#909B92;
}
.branding__options ul li:first-child i{
    color: #309340;
}

.navbar{
    max-width: 20rem;
    height: 150vh;
    background: #f5f5f5;
    position: absolute;
    top:10rem;
}
.navbar__wrapper{
    display:block;
    padding-left: 2rem;
    padding-right: 2rem;
}
.user__details{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.user__image img{
    width: 6rem;
}
.user__name h3{
    font-weight: bold;
}
.navbar__menu{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu ul li{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem ;
    color: #909B92;
}
.navbar__menu ul li i{
    font-size: 2rem;
}
.navbar__menu ul li:hover{
    color:#309340;
}
.navbar__menu ul li:first-child{
    color: #309340;
}
.navbar__menu ul li:first-child:hover{
    color: #909B92;
}
.navbar__menu ul li span{
    background: #909B92;
    width: 14rem;
    height: 1px;
}
.dashboard{
    padding-top: 2rem;
    position: relative;
}
.dashboard__demographics{
    display: flex;
    align-items: start;
    margin-top: 1rem;
    margin-left: 3rem;
    gap:5rem;
}
.dashboard__demographics image{
    max-width: 15rem;
}
.dashboard__sales{
    display: flex;
    margin-left: 22rem;
    margin-top: -23rem;
}
.dashboard__sales image{
    max-width: 15rem;
}
.dashboard__bottom{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 22rem;
}
.dashboard__bottom img:last-child{
    margin-left:-10rem;
}